@import "~@fontsource-variable/open-sans/wght.css";
@import "~@fontsource-variable/roboto-flex/wght.css";
@import "~@fontsource-variable/material-symbols-rounded/wght.css";

.open-sans-variable {
  font-family: "Open Sans Variable", sans-serif;
}

.roboto-flex {
  font-family: "Roboto", sans-serif;
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
